/trainings
Training.*.*.*
amlttpRun.*.*.*
/test_cleanBabyFemale_svm
/cleanMulticlassData
/test_pointOvrl_testing
/test_pointOvrl_training
/test_diffuseWhtNoiseOvrl
/test_mc_1vsAll_testing
/test_mc_1vsAll_training
/test_featSelect
/test_brir
/overlappedMulticlass
/numSrcs
/test_azm1
/test_multivarData
/test_segmented
/test_multitarget
/test_cleanMultispeech
/test_buildMultiPointSrcsAzmDistrData
/numSrc
/test_dnnlocNoSrcs
/test_rwc
/parpool_tmps/*
/test_multiclass_training
/test_nsrcs_training
/test_noisy_training
/test_multilabel_training
/test_azm_training
/alphaGroupedMulticlass
/test_featMask
/test_brir_training
/test_instantLabels
