*.asv
*~
test/dataStoreUni.mat
test/test_cleanBabyFemale_Lucas/
test/SparseCodingTest_Lucas/
test/SelftTaughtTest_Lucas/
test/SparseCodingSelectTest_Lucas/
test/Results CV Sparse Coding/amlttp.run.log
test/Results CV Sparse Coding/
