*.asv
*~
test/dataStoreUni.mat
test/test_cleanBabyFemale_Lucas/
test/SparseCodingTest_Lucas/
test/SelftTaughtTest_Lucas/
test/SparseCodingSelectTest_Lucas/
test/Results CV Sparse Coding/
test/Results_A/
test/HPS.mat
test/STLTest/
!test/STLTest/EvaluateModels.m
!test/STLTest/plotResults.m
test/GlmNetLambdaSelectTest/
test/Results_B/docs/*
test/Results_B/models/*
test/STLComparison/Results b100_0.4_0.4_maxData100000/
test/STLComparison/Results b100_0.4_0.4_maxData20000/
test/STLComparison/Results b100_0.4_0.4_maxData50000/
test/STLDiversity/diversity_0.1/
test/STLDiversity/diversity_0.3/
test/STLDiversity/Results b100_0.4_0.4_maxData20000/
test/STLComparison/profile/
